#pianoKeys{
    position: absolute;
    display: flex;
    top: 10rem;
    padding-inline-start: 25px;
    align-items: center;
    border: 1px solid black;
    height: 250px;
    
}

.key{
    float: inline-start;
    height: 235px;
    width: 50px;
    border: 1px solid red;
}
#pianoBlackKeys{
    position: absolute;
    display: flex;
    left: -2rem;
    align-items: center;
    gap: 25px;
    height: 70px;
    top: 13rem;
    
}

#Black1,
#Black2,
#Black3,
#Black4,
#Black5
{
    height: 250px;
    width: 25px;
    top: 7rem;
    background-color: black;
    
}
#Black2{
    margin-right: 2rem;
}

